/*
Theme Name: Faraday
Author: romchyk16
Author URI: https://www.weblancer.net/users/romchyk16/
Description: The Best theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@media (min-width: 1200px) { 
	.menu-item {
		display: inline-block;
	}
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-single-text ul {
	list-style-type: disc;
	line-height: 23px;
}

.link-btn {
    width: 290px;
}

//================ Woocommerce ===============//

.breadcrumbs li a {
    color: #1c78ad!important;
    text-decoration: underline!important; 
}
.breadcrumbs li a:hover, 
.breadcrumbs li a:focus {
    color: #1c78ad!important;
    text-decoration: none!important; 
}

/*#place_delivery {*/
    /*display: none;*/
/*}*/

.woocommerce {
    .star-rating {
  width: 110px !important;
  height: 30px !important;
  float: left;
  &:before {
    font-size: 20px;
  }
  span {
    &:before {
      font-size: 20px;
      color: #ffa500;
    }
  }
}

.woocommerce .modal-review .modal-body {
    padding-bottom: 0 !important;
}



//================ Popup Success ===============//

section{
    width: 100vw;
    overflow: hidden;
    height: 25vh;
    z-index: 1;
    background: #ecf0f1;
    border-bottom: 1px solid #95a5a6;
}
.notification{ 
    width: 82vw;
    height: 40px; 
    border-radius: 0px 0px 5px 5px;
    margin: 0 auto;
    box-shadow: #95a5a6 0px 0px 6px 2px;
    color: white;
    line-height: 40px;
    overflow: hidden;
    animation: reveal 1 2s;
}
.notification .title{
    margin-right: 15px;
    padding: 0px 15px;
    line-height: 40px;
    display: inline-block;
}

.notification .close{
    background: rgba(255,255,255,0.2);
    padding: 0px 15px;
    float: right;
    line-height: 40px;
    display: inline-block;
    color: white;
    width: 40px;
    height: auto; 
}
.notification .close:hover{
  cursor: pointer;
}
.notification.closed{
    transform: translate(0px, -170px);
    transition: 0.7s;
}

@keyframes reveal{
    0%{
        transform: translate(0px, -50px);
    }
    50%{
        transform: translate(0px, -50px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}


.notification.success{
    background: #2ecc71;
}
.notification.success .title{
    background: #27ae60;
}

.notification.error{
    background: #e74c3c;
}
.notification.error .title{
    background: #c0392b;
}

.notification.warning{
    background: #f1c40f;
}
.notification.warning .title{
    background: #f39c12;
}

.notification.normal{
    background: #3498db;
}
.notification.normal .title{
    background: #2980b9;
}